/* navbar */
.navbar-default {
	background-color: black;
}

.navbar-default .navbar-brand {
	color: white;
}

/* layout for homepage */

.leftCol {
	float: left;
}

.rightCol {
	float: right;
	border-left: 2px solid #b3b3b3;
}

/* styling so buttons can appear next to headings */
.inline {
	display: inline;
}

/* button spacing */
button {
	margin: 3px;
}