{% extends "index.html" %}
{% block content %}

{% if 'username' in session %}
<div class="container">
	<div class="row">
		<!-- title -->
		<div class="md-col-12">
		  <h2>Add Category</h2>
		</div>
		<!-- form to add category -->
		<div class="md-col-12 well">
			<form method="post" class="inline">
			<div class="form-group">
				<label>Category name:</label>
				<input type ="text" class="form-control" name="name">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			</form>
			<a href='{{url_for("getCatalog")}}'>
	        	<button type="submit" class="btn btn-primary">Cancel</button>
	      	</a>
		</div>
	</div>
</div>
{% else %}
<!-- redirect to home page if user not logged in -->
<div class="container">
	<div class="row">
		<div class="md-col-12 alert alert-danger">
      		<p><strong>Not logged in!</strong> Please sign in to perform this action.</p>
      		<br>
      		<a href ='{{url_for("getCatalog")}}'>
	        	<button type="submit" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
	      	</a>
    	</div>
	</div>
</div>
{% endif %}

{% endblock %}