{% extends "index.html" %}
{% block content %}
<div class="container">
  <div class="row">

    <div class="md-col-12">
      <h2>Add item</h2>
    </div>

    <div class="md-col-12 well">
      <form method="post">
        <div class="form-group">
          <label>Name:</label>
          <input type ="text" class="form-control" name="name">
          <label>Category:</label>
          <select class="form-control" name="category">
            {% for cat in categories %}
            <option>{{cat.name}}</option>
            {% endfor %}
          </select>
          <label>Description:</label>
          <input type ="text" class="form-control" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </div>
</div>

{% endblock %}