{% extends "index.html" %}
{% block content %}
{% if 'username' in session %}
<div class="container">
  <div class="row">

    <div class="md-col-12">
      <h2>Add item</h2>
    </div>

    <div class="md-col-12 well">
      <form method="post" class="inline">
        <div class="form-group">
          <label>Name:</label>
          <input type ="text" class="form-control" name="name">
          <label>Category:</label>
          <select class="form-control" name="category">
            {% for cat in categories %}
            <option>{{cat.name}}</option>
            {% endfor %}
          </select>
          <label>Description:</label>
          <input type ="text" class="form-control" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <a href="{{url_for('getCatalog')}}">
        <button type="submit" class="btn btn-primary">
          Cancel
        </button>
      </a>
    </div>

  </div>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="md-col-12 alert alert-danger">
          <strong>Not logged in!</strong> Please sign in to perform this action.
          <br>
          <a href ='{{url_for("getCatalog")}}'>
            <button type="submit" class="btn btn-danger"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
          </a>
      </div>
  </div>
</div>
{% endif %}
{% endblock %}