{% extends "index.html" %}
{% block content %}
<!-- main content -->
<section class="container">
	<div class="row">
		<!-- list all categories -->
		<div class="col-md-4 leftCol">
			<h2 class="inline">Categories</h2>
			<a href="{{url_for('addCategory')}}"><button type="submit" class="btn btn-primary btn-sm pull-right">+</button></a>
			<hr>
			{% for cat in category %}
			<a href="{{url_for('getCategory', category=cat.name, id=cat.id)}}">
				<h4>{{ cat.name }}</h4>
			{% endfor %}
			</a>
		</div>

		<!-- list latest items -->
		<div class="col-md-8 rightCol">
			<h2 class="inline">Latest Items</h2>
			<hr>
			{% for i in item %}
			<a href="{{url_for('getItem', category=i.category.name, item=i.name, id=i.id)}}">
				<h4>{{ i.name }} ({{ i.category.name }})</h4>
			</a>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}