{% extends "index.html" %}
{% block content %}
<!-- main content -->
<section class="container">
	<!-- list all categories -->
	<div class="col-md-4 leftCol">
		<h2>Categories</h2>
		{% for cat in categories %}
		<a href="/catalog/{{cat.name}}">
			<h3>{{ cat.name }}</h3>
		</a>
		{% endfor %}
	</div>

	<!-- list items for specific category -->
	<div class="col-md-8 rightCol">
		<h2>{{ category.name }}</h2>
		{% for i in items %}
		<a href="/catalog/{{category.name}}/{i.name}}">
			<h3>{{ i.name }}</h3>
		</a>
		{% endfor %}
	</div>

</section>

{% endblock %}