<!-- displays a single item's details -->
{% extends "index.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="md-col-12">
			<h2>{{ item.name }}</h2>
			<hr>
			{% if 'username' in session %}
			<!-- delete button -->
			<a href="{{url_for('deleteItem', category=item.category.name, item=item.name, id=item.id)}}">
				<button type="submit" class="btn btn-danger btn-sm pull-right">
					<i class="fa fa-trash" aria-hidden="true"></i>
					Delete
				</button>
			</a>
			<!-- edit button -->
			<a href="{{url_for('editItem', category=item.category.name, item=item.name, id=item.id)}}">
				<button type="submit" class="btn btn-primary btn-sm pull-right">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					Edit
				</button>
			</a>
			{% endif %}
			<p>{{ item.description }}</p>
			<br>
			<a href="{{url_for('getCatalog')}}">
				<button type="submit" class="btn btn-primary btn-sm">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Back
				</button>
			</a>
		</div>
	</div>
</div>

{% endblock %}